* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --background3: #33292a;
  --nav_text: #fff;
  --background1: #33292a;
  --background2: #644b4f;
  --background-nav-a-footer: #0c0804;
  --background4: #f2f2f2;
  --anchor: #efa69d;
  --anchor_hover: #e9877b;
}

@font-face {
  font-family: "Roboto";
  src: url(Roboto/Roboto-Regular.ttf);
  font-family: "Roboto-bold";
  src: url(Roboto/Roboto-Black.ttf);
}

main {
  margin: 0;
}
h2,
h3 {
  font-size: 32px;
  font-weight: 900;
  font-family: "Roboto-bold", sans-serif;
  /* font-size: calc(16px + 3vw); */
}
p {
  line-height: 150%;
  /* font-size: calc(10px + 0.3vw); */
}

/***************** HEADER *********************/
header {
  margin: 0;
  background-image: linear-gradient(
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.8)
    ),
    url(images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg);
  height: 800px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

header h1 {
  position: absolute;
  right: 15%;
  bottom: 20%;
  color: var(--nav_text);
  text-transform: capitalize;
  width: min-content;
  text-align: end;
  /* font-size: 80px;*/
  font-size: calc(32px + 3vw);
}

nav {
  background-color: var(--background-nav-a-footer);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  color: var(--nav_text);
  font-size: 20px;
  margin: 0;
  font-weight: bold;
  height: 80px;
  display: flex;
}
nav ul {
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  align-items: center;
  margin: 0;
  align-content: center;
  width: 100%;
}

.nav-item {
  display: inline-block;
  position: relative;
  color: var(--nav_text);
  margin: 0;
  padding: 10px 0;
}
.nav-item::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--anchor_hover);
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.25s ease-out;
}
.nav-item:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
nav ul li a:hover {
  cursor: pointer;
  color: var(--anchor_hover);
}
nav ul li a {
  text-decoration: none;
  color: var(--nav_text);
}
.hamburger {
  display: none;
  filter: invert(100%);
}
/***************************** ARROW TO TOP ***********************************/
.arrow-to-top {
  display: inline-block;
  position: fixed;
  left: 50px;
  bottom: 50px;
  background-image: url(icons/8665205_circle_chevron_up_icon.png);
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  object-fit: fill;
  background-position: center;
  cursor: pointer;
  z-index: 999;
}

/******************* ABOUT US  ************************/

.section-1-container {
  display: flex;
  padding: 100px 0px;
  /* margin: 0; */
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin: 0 auto;
  width: 70%;
}

.pic_about,
.text1 {
  flex: 0 1 400px;
}
.pic_about {
  align-self: stretch;
}
.pic_about img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 5px;
}

/* .pic_about img {
  width: 30%;
  height: auto;
  border-radius: 5px;
} */

.text1 {
  font-size: 14px;
  text-align: left;
  align-self: center;
}

.text1 h2 {
  padding-bottom: 10px;
}

/******************** WHAT WE DO SECTION  *****************************/
.section-2-container {
  background-color: var(--background1);
  color: var(--nav_text);
  padding: 100px 0px;
}

.text2 {
  text-align: center;
  margin: auto;
  /* padding: 50px 200px; */
  font-size: 14px;
  width: 60%;
}

.text2 h2 {
  padding-bottom: 30px;
}

.icons {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  padding-top: 80px;
  width: 80%;
}
.icon_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon_box img {
  display: block;
  margin: 0 auto;
  width: 50px;
  filter: invert(100%);
}
.icons p {
  font-size: 24px;
  text-align: center;
}

/***************** GALERY  *****************************/

.section-3-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  align-items: center;
  width: 70%;
  height: auto;
  gap: 10px;
  padding: 80px 0px;
}
.item-text {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background4);
  border-radius: 5px;
  align-self: stretch;
  padding: 20px;
}

.item-text h3 {
  text-align: center;
}

.item-image {
  height: 250px;
  max-height: 100%;
  flex: 1 1 calc(33.33% - 10px);
}

.item-image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  object-fit: cover;
}
/******************** WHERE DO YOU WANNA GO  *****************************/

.section-4-container {
  background-color: var(--background2);
  margin: auto;
  padding: 100px 0px;
}
.text3 {
  display: flex;
  color: var(--nav_text);
  font-size: 14px;
  width: 70%;
  justify-content: center;
  margin: auto;
  gap: 50px;
}
.text3 h2 {
  flex: 0 1 20%;
  line-height: 150%;
}
.text3 p {
  flex: 0 1 70%;
  line-height: 150%;
  /* padding-left: 50px; */
}
.text3 span {
  display: block;
  padding-top: 20px;
}
.btn {
  border-radius: 5px;
  font-family: "Roboto-bold", sans-serif;
  text-transform: uppercase;
  /* font-weight: bold; */
  font-size: 10px;
  margin-top: 50px;
  box-shadow: none;
  border-color: transparent;
  width: 100px;
  height: 30px;
}
.btn:hover {
  cursor: pointer;
}
.btn:active {
  background-color: white;
}

/*********************** REVIEWS *************************/

.section-5-container {
  background-color: var(--background4);
  margin: auto;
  display: flex;
  flex-direction: column;
  font-size: 14px;
  padding: 100px 0px;
}

.text4 {
  text-align: center;
  width: 50%;
  align-self: center;
  padding-bottom: 80px;
}
.reviews_flex {
  display: flex;
}
.text4 h2 {
  padding-bottom: 20px;
}
.user {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-self: center;
  text-align: center;
}
.user p {
  width: 50%;
  align-self: center;
  padding-top: 20px;
}
.signature {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.user_imgbox {
  width: 100px;
  height: 100px;
  align-self: center;
}
.user_imgbox img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

/********************* YOUTUBE SECTION ***********************/

.section-6-container {
  background-color: var(--background2);
}

.wrapper iframe {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper {
  height: 0;
  padding-bottom: 56.25%;
  width: 100%;
  position: relative;
}
.video {
  width: 70%;
  margin: auto;
  padding: 20px 0;
}

/******************* FOOTER AND PICTURES ************************/

.sample_pic {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
}

.sample_pic img {
  width: 50%;
  height: 320px;
  object-fit: cover;
  object-position: center;
}

.contact_box {
  background-color: var(--background-nav-a-footer);
  color: var(--nav_text);
  text-align: center;
  margin: auto;
  padding: 50px;
}
.contact_box p {
  padding-top: 20px;
}
.contact_box a {
  color: var(--anchor);
  text-decoration: none;
  border-bottom: 2px solid var(--anchor);
  padding-bottom: 5px;
}
.contact_box a:hover {
  color: var(--anchor_hover);
  border-bottom: 2px solid var(--anchor_hover);
}
.contact_box p {
  font-size: calc(10px + 0.3vw);
}
.contact_box a {
  font-size: calc(10px + 0.3vw);
}
/* .contact_box a:visited {
  color: forestgreen;
  border-bottom: 2px solid forestgreen;
} */
